@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';
@import './bootstrap.rtl.css';

// @font-face {
//     font-family: myfont;
//     src: url('ffontM.woff') format('woff');
//     font-family: myfont;
//     src: url('ffontB.woff') format('woff');
//     font-weight: bold;
//     font-family: myfont;
//     src: url('fontL.woff') format('woff');
//     font-style: italic;
// }

// @font-face {
//     font-family: myfont;
//     src: url('ffontM.woff') format('woff');
// }

// @font-face {
//     font-family: myfont;
//     src: url('ffontB.woff') format('woff');
//     font-weight: bold;
// }

// @font-face {
//     font-family: myfont;
//     src: url('fontL.woff') format('woff');
//     font-style: italic;
// }

// * {
//     font-family: myfont;
//     text-decoration: none !important;
// }



// @font-face {
// 	font-family: myfont;
// 	font-style: normal;
// 	font-weight: 900;
// src: url('./fonts/eot/IRANSansWeb\(FaNum\)_Black.eot');
// 	// src: url('./fonts/eot/IRANSansWeb(FaNum)_Black.eot');
// 	// src: url('./fonts/eot/IRANSansWeb(FaNum)_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
// 	// 	 url('./fonts/woff2/IRANSansWeb(FaNum)_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
// 	// 	 url('./fonts/woff/IRANSansWeb(FaNum)_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
// 	// 	 url('./fonts/ttf/IRANSansWeb(FaNum)_Black.ttf') format('truetype');
// }
// @font-face {
// 	font-family: myfont;
// 	font-style: normal;
// 	font-weight: bold;
// 	src: url('./fonts/eot/IRANSansWeb(FaNum)_Bold.eot');
// 	src: url('./fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
// 		 url('./fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
// 		 url('./fonts/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
// 		 url('./fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
// }
// @font-face {
// 	font-family: myfont;
// 	font-style: normal;
// 	font-weight: 500;
// 	src: url('./fonts/eot/IRANSansWeb(FaNum)_Medium.eot');
// 	src: url('./fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
// 		 url('./fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
// 		 url('./fonts/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
// 		 url('./fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
// }
// @font-face {
// 	font-family: myfont;
// 	font-style: normal;
// 	font-weight: 300;
// 	src: url('./fonts/eot/IRANSansWeb(FaNum)_Light.eot');
// 	src: url('./fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
// 		 url('./fonts/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
// 		 url('./fonts/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
// 		 url('./fonts/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
// }
// @font-face {
// 	font-family: myfont;
// 	font-style: normal;
// 	font-weight: 200;
// 	src: url('./fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot');
// 	src: url('./fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
// 		 url('./fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
// 		 url('./fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
// 		 url('./fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
// }
@font-face {
    font-family: myfont;
    font-style: normal;
    font-weight: normal;

    src: url('./fonts/eot/IRANSansWeb\(FaNum\).eot');
    // src: url('./fonts/eot/IRANSansWeb(FaNum).eot');
    src: url('./fonts/eot/IRANSansWeb\(FaNum\).eot?#iefix') format('embedded-opentype'),
        url('./fonts/woff2/IRANSansWeb\(FaNum\).woff2') format('woff2'),
        url('./fonts/woff/IRANSansWeb\(FaNum\).woff')format('woff'),
        url('./fonts/ttf/IRANSansWeb\(FaNum\).ttf')format('truetype');
}


body {
    height: 100%;
    font-family: myfont;
}

.el-button {
    font-family: myfont;
}

label {
    font-weight: 700;
}

html {
    height: 100%;
    box-sizing: border-box;
}

#app {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.no-padding {
    padding: 0px !important;
}

.padding-content {
    padding: 4px 0;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

div:focus {
    outline: none;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.pr-5 {
    padding-right: 5px;
}

.pl-5 {
    padding-left: 5px;
}

.block {
    display: block;
}

.pointer {
    cursor: pointer;
}

.inlineBlock {
    display: block;
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

aside {
    background: #eef1f6;
    padding: 8px 24px;
    margin-bottom: 20px;
    border-radius: 2px;
    display: block;
    line-height: 32px;
    font-size: 16px;
    font-family: myfont;
    color: #2c3e50;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    a {
        color: #337ab7;
        cursor: pointer;

        &:hover {
            color: rgb(32, 160, 255);
        }
    }
}

//main-container全局样式
// .app-container {
//     padding: 20px !important;
// }

.main-container {
    direction: rtl;
}

.components-container {
    margin: 30px 50px;
    position: relative;
}

.tags-view-container {
    direction: ltr;
}

.pagination-container {
    margin-top: 30px;
}

.text-center {
    text-align: center
}

.sub-navbar {
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    transition: 600ms ease position;
    background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

    .subtitle {
        font-size: 20px;
        color: #fff;
    }

    &.draft {
        background: #d0d0d0;
    }

    &.deleted {
        background: #d0d0d0;
    }
}

.link-type,
.link-type:focus {
    color: #337ab7;
    cursor: pointer;

    &:hover {
        color: rgb(32, 160, 255);
    }
}

.filter-container {
    padding-bottom: 10px;

    .filter-item {
        display: block;
        // vertical-align: middle;
        margin-bottom: 10px;
    }
}

//refine vue-multiselect plugin
.multiselect {
    line-height: 16px;
}

.multiselect--active {
    z-index: 1000 !important;
}

input[type=text] {
    padding: 8px 6px 1px 6px !important;
    font-family: myfont;
}

/////////el table : 
.el-table th,
.el-table td {
    text-align: center !important;
}

.el-table th {
    background-color: $tableHeadColor;
    border-bottom: 2px solid #9b9ba6 !important;
    color: #161616;
}

.el-table td {
    padding: 1px 0;
}

.col-12 {
    text-align: right;
}

.dialog-lg .el-dialog {
    width: 100%;
}

fieldset {
    margin: 5px 0;
    padding: 0 7px 7px 7px;
    border-radius: 4px;
}

legend {
    margin-top: -12px !important;
    background-color: white;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 4px;
    font-size: 14px;
    margin-right: 17px;
}

.el-dialog__title {
    padding-right: 40px;
}